

<div class="row">



	<div class="span9">
		<h1>Share: <%=  @share.document.name %> </h1>
		<h3>
			Link to file <%=link_to(@share.document.name, @share.document.file_url )%>
		</h3>
		<h3>
			URL: <%="http://#{request.host+request.fullpath}"%>
		</h3>
		<h3>
			Pass: <%= @share.encrypted_password%>
		</h3>		
	</div>
</div>