<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @document_folder.name %>
</p>


<%= link_to 'Edit', edit_document_folder_path(@document_folder) %> |
<%= link_to 'Back', document_folders_path %>
