<p id="notice"><%= notice %></p>






<div class="row" style="margin-top:-10px">
	<div class="span12">
	<center>
	  <%= image_tag(@document.file.url, :class=>"show-image") %>
	</center>
	</div>
</div>


<div class="row" style="margin-top: 20px">
	<div class="span12">
		<h3 style="border-bottom: 1px solid #DEDEDE;
		-webkit-box-shadow: 0 1px 1px white;
		-moz-box-shadow: 0 1px 1px white;
		box-shadow: 0 1px 1px white; margin-bottom:20px">comments</h3>
	  <%= render @document.comments %>
	</div>
</div>

<div class="row" style="margin-top: 20px">
	<div class="span12">
	  <%= render "/comments/form" %>
	</div>
</div>







