<p id="notice"><%= notice %></p>






<div class="row" style="margin-top:-10px">
	<div class="span12">
	<center>
	  <%= image_tag(@document.file.url, :class=>"show-image") %>
	</center>
	</div>
</div>








