<p id="notice"><%= notice %></p>




<% if @document.authorized?(current_user.id?)%>

<div class="row" style="margin-top:-10px">
	<div class="span12">
	<center>
	  <%= image_tag(@document.file.url, :class=>"show-image") %>
	</center>
	</div>
</div>


<div id="comment-container">
	<%= render "/documents/comments"%>
</div>

<% else %>



<%= render "/user_shares/form"%>





<%end%>