<div class="container">
	<div class="row" style="margin-top:10px">
		<div class="span12">
			<div class="btn-toolbar" style="overflow: hidden">
				<div class="btn-group" style="float: right">
					<%= link_to(documents_path, :class=>"btn btn btn-right" ) do %>
						<i class="icon-list"></i> List
					<%end%>
					<%= link_to({controller: "documents", action:"index", view: "grid"}, :class=>"btn btn btn-right" ) do %>
						<i class="icon-th"></i> Grid
					<%end%>
				</div>	
			</div>		
		</div>
	</div>
</div>